/* @layer theme, base, components, utilities; */
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));
svg {
  fill: currentColor;
}

@font-face {
  font-family: 'CharlesWrightBold';
  src: url('../CharlesWrightBold.ttf') format('opentype');
}

.font-ariel{
  font-family: 'Ariel', sans-serif;
}

* {
  box-sizing: border-box;
}

html{  
  scroll-behavior: smooth;
  font-family: 'CharlesWrightBold', sans-serif;
  box-sizing: border-box;
  transition: background-color 0.5s ease, color 0.5s ease;
  @apply bg-neutral-100 text-black dark:bg-neutral-800 dark:text-white;
}

body{
  @apply m-0;
}

a{
  @apply text-blue-500 dark:text-blue-400;
  @apply hover:text-blue-700 dark:hover:text-blue-300;
}

b{
  @apply underline text-blue-600 dark:text-lime-400;
}


.text-main{
  @apply text-blue-500 dark:text-lime-400;
}
.bg-main{
  @apply bg-blue-500 dark:bg-lime-400;
}

.bg-theme{
  @apply bg-neutral-100 text-black dark:bg-neutral-800 dark:text-white;
}
.bg-invert{
  @apply dark:bg-neutral-100 dark:text-black bg-neutral-800 text-white;
}

.text-invert{
  @apply text-neutral-100 dark:text-neutral-800;
}

.link{
  @apply after:content-['_↗'];
}

.splashScreen {
  @apply fixed w-screen h-screen z-50;
  @apply bg-neutral-100 text-black dark:bg-neutral-800 dark:text-white;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.push-center{
  @apply w-full lg:w-3/4 xl:w-2/3
}

.portfolio-card {
  @apply relative bg-black p-1;
  @apply hover:scale-103 hover:shadow-lg transition-transform duration-200;
}

.portfolio-card-content {
  @apply absolute bottom-0 w-full ;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,0.85) 60%, rgba(255,255,255,0) 100%);
}

.portfolio-card-content p{
  @apply my-0 text-white;
}

.intro-bar{
  flex: 1;
  opacity: 1;
  transition: all 0.5s ease;
}